/* .row {
  display: flex;
}

.column {
  flex: 50%;
  padding-left: 30px;
} */

body {
  background-color: #01141c;
  /* background-color: #003976; */
  /* background-color: #ce1141; */
  background-image: url("bg_large_tp_49.png");
  background-size: auto;
}

.bg-light-blue {
  background-color: #547385;
}

@font-face {
  font-family: 'cfg-reg';
  src: url('./fonts/ClearfaceGothicTOT-Regular.otf') format('embedded-opentype'),
    /* Internet Explorer */
    url('./fonts/ClearfaceGothicTOT-Regular.otf') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/ClearfaceGothicTOT-Regular.otf') format('woff'),
    /* Pretty Modern Browsers */
    url('./fonts/ClearfaceGothicTOT-Regular.otf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/ClearfaceGothicTOT-Regular.otf') format('svg');
  /* Legacy iOS */
}

/* .cfg-title {
  font-size: 72px;
} */

.cfg-reg-yellow {
  color: #fbfd89;
  font-family: "cfg-reg";
}

.center {
  /* border: 5px solid #FFFF00; */
  text-align: center;
}

.form-label {
  font-size: 30px;
  /* width: 150px; */
}

.form-control {
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.scorer_li {
  /* padding: 0; */
  padding: 10px;
  margin: 0;
  list-style: none;
  font-size: 20px;
  color: #fbfd89;
  font-family: "cfg-reg";
  text-align: left;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style the list items */
/* ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
} */

ul li:nth-child(even) {
  background: #01141c;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #547385;
}

/* Darker background-color on hover */
ul li:hover {
  /* background: rgb(152, 151, 151); */
  background: rgb(168, 168, 168);
}

/* When clicked on, add a background color and strike out text */
/* ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
} */

/* Add a "checked" mark when clicked on */
/* ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */

/* Style the close button */
/* .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
} */

/* .close:hover {
  background-color: #f44336;
  color: white;
} */