{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<body class="text-center items-center container min-w-fit overflow-x-scroll font-sans">
    <header>
        <nav class="flex items-center justify-between flex-wrap pt-16">
            <!-- <div class="justify-items-end"> -->
                <div class="flex flex-shrink-0 mr-6 tracking-normal">
                    <h1 class="font-bold text-3xl pr-2 pl-36" id="lightdarktext">When is Saint Totteringham's Day?</h1>
                </div>
                <label class="relative inline-flex items-center cursor-pointer pr-36" for="lightdarkbutton">jack wilshere
                    <input id="lightdarkbutton" type="checkbox" value="what do we think of tottenham" class="sr-only peer">
                    <div
                        class="w-11 h-6 ml-2 bg-afc-blue peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[103px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-afc-gold">
                    </div>
                </label>
            <!-- </div> -->
        </nav>
    </header>

    <div class="pt-24" id="lightdarktext">
        <div>
            <h3 class="text-xl">saint totteringham's day this year was</h3>
            <h3 class="text-xl font-bold">28 April 2024</h3>
        </div>
        <div class="pt-16">
            <h3 class="text-xl">remaining North London Derbies this season</h3>
            <div id="nlds_col">
            </div>
        </div>

        <!-- <h3 class="pt-16 text-xl">maximum possible points remaining</h3>
        <div class="grid grid-cols-2 pt-6 text-lg">
            <div id="afc_remaining_col">
                <h4>Arsenal</h4>
            </div>
            <div id="spuds_remaining_col">
                <h4>Tottenham</h4>
            </div>
        </div> -->

        <!-- <h3 class="pt-16 text-xl">upcoming fixtures</h3> -->
        <div class="grid grid-cols-2 place-items-center items-start pt-16 pb-4">
            <div id="afc_future_col">
                <!-- <h4 class="text-lg">Arsenal</h4> -->
                <table class="table-auto shadow-2xl rounded-3xl border-separate border-spacing-y-0.5 overflow-x-auto">
                    <thead>
                        <tr>
                            <th class="text-xl py-3 bg-gradient-to-r from-afc-red via-afc-dark-red to-white rounded-t-3xl">Arsenal</th>
                        </tr>
                        <tr>
                            <th class="text-lg py-3">{{ afc_remaining_points }} remaining points</th>
                        </tr>
                        <tr>
                            <th class="text-lg py-3">upcoming fixtures</th>
                        </tr>
                    </thead>
                    <tbody id="afc_upcoming_fix_body"></tbody>
                    <thead>
                        <tr>
                            <th class="text-lg py-3">completed fixtures</th>
                        </tr>
                    </thead>
                    <tbody id="afc_completed_fix_body"></tbody>
                    </tbody>
                </table>
            </div>
            <div id="spuds_future_col">
                <!-- <h4 class="text-lg">Tottenham</h4> -->
                <table class="table-auto shadow-2xl rounded-3xl border-separate border-spacing-y-0.5 overflow-x-auto">
                    <thead>
                        <tr>
                            <th class="text-xl py-3 bg-gradient-to-r from-[#132257] to-white rounded-t-3xl ">Tottenham</th>
                        </tr>
                        <tr>
                            <th class="text-lg py-3">{{ spuds_remaining_points }} remaining points</th>
                        </tr>
                        <tr>
                            <th class="text-lg py-3">upcoming fixtures</th>
                        </tr>
                    </thead>
                    <tbody id="spuds_upcoming_fix_body"></tbody>
                    <thead>
                        <tr>
                            <th class="text-lg py-3">completed fixtures</th>
                        </tr>
                    </thead>
                    <tbody id="spuds_completed_fix_body"></tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <h3 class="pt-16 text-xl pb-6">completed fixtures</h3>
        <div class="grid grid-cols-2 text-s gap-28 min-w-48 pl-24 pr-24">
            <div id="afc_past_col">
                <h4 class="text-lg">Arsenal</h4>
            </div>
            <div id="spuds_past_col">
                <h4 class="text-lg">Tottenham</h4>
            </div>
        </div> -->

    </div>
</body>

<script>
    window.onload = spawnFixtures(); remainingNLDs(); //remainingPoints(); //isTotts(); //ppg(); // earliest();

    function remainingPoints() {
        const afc_remaining = {{ afc_remaining_points }};
        const spuds_remaining = {{ spuds_remaining_points }};

        const afc_future_fix = {{ afc_future | tojson | safe }};
        const afc_future_fix_len = afc_future_fix.length;
        const spuds_future_fix = {{ spuds_future | tojson | safe }};
        const spuds_future_fix_len = spuds_future_fix.length;

        const afc_remaining_col = document.getElementById('afc_remaining_col');
        const spuds_remaining_col = document.getElementById('spuds_remaining_col');

        var afc_points_num = document.createElement("h2");
        var spuds_points_num = document.createElement("h2");
        afc_points_num.innerHTML = afc_remaining;
        spuds_points_num.innerHTML = spuds_remaining;

        var afc_future_fix_num = document.createElement("h6");
        var spuds_future_fix_num = document.createElement("h6");
        afc_future_fix_num.innerHTML = `${afc_future_fix_len} fixtures remaining`;
        spuds_future_fix_num.innerHTML = `${spuds_future_fix_len} fixtures remaining`;

        afc_remaining_col.appendChild(afc_points_num);
        spuds_remaining_col.appendChild(spuds_points_num);

        afc_remaining_col.appendChild(afc_future_fix_num);
        spuds_remaining_col.appendChild(spuds_future_fix_num);
    }

    // function ppg() {
    //     const afc_ppg = {{ afc_ppg }};
    //     const spuds_ppg = {{ spuds_ppg }};
    //     const afc_ppg_col = document.getElementById('afc_ppg_col');
    //     const spuds_ppg_col = document.getElementById('spuds_ppg_col');
    //     var afc_ppg_num = document.createElement("h2");
    //     var spuds_ppg_num = document.createElement("h2");

    //     afc_ppg_num.innerHTML = Math.round(afc_ppg * 100) / 100;
    //     spuds_ppg_num.innerHTML = Math.round(spuds_ppg * 100) / 100;

    //     afc_ppg_col.appendChild(afc_ppg_num)
    //     spuds_ppg_col.appendChild(spuds_ppg_num)
    // }

    // function earliest() {
    //     var earliest_date = "{{ earliest_date }}";
    //     const earliest_col = document.getElementById('earliest_col');
    //     var earliest_h2 = document.createElement("h2");
    //     earliest_h2.innerHTML = earliest_date;
    //     earliest_col.appendChild(earliest_h2);
    // }

    // function isTotts() {
    //     var is_totts = "{{ is_totts }}";
    //     if (Boolean(is_totts)) {
    //         is_totts_str = "YES!"
    //         const is_totts_col = document.getElementById('is_totts_col');
    //         var is_totts_h2 = document.createElement("h2");
    //         is_totts_h2.innerHTML = is_totts_str;
    //         is_totts_col.appendChild(is_totts_h2);

    //         is_totts_h3_sub = document.createElement("h4");
    //         is_totts_h3_sub.innerHTML = "(or, it was)";
    //         is_totts_col.appendChild(is_totts_h3_sub);
    //         } else {
    //         is_totts_str = "NO"
    //     }
    // }

    function remainingNLDs() {
        const nld_matches = {{ nlds }};
        const nlds_col = document.getElementById('nlds_col');
        var nlds_h1 = document.createElement("h1");
        nlds_h1.setAttribute("class", "text-2xl font-bold")
        if (nld_matches == 2) {
            nlds_h1.innerHTML = 0
        } else if (nld_matches == 1) {
            nlds_h1.innerHTML = 1
        } else {
            nlds_h1.innerHTML = 2
        }
        nlds_col.appendChild(nlds_h1)
    }

    function getFixtureDecoration(fixtures, team, element) {
        var fixdate = Date.parse(f.event_date);
        // console.log(fixdate > Date.now());
        // console.log(fixdate);
        // console.log(Date.now());

        if (fixdate > Date.now() ) {
            element.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            element.setAttribute("class", "odd:bg-white even:bg-gray-200");
        } else if (['PST', 'CANC'].includes(f.status_short)) {
            element.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.status_short}`;
            element.setAttribute("class", "bg-yellow-500 text-black");
        } else {
            element.innerHTML = `${f.home_team.name} ${f.goals_home} - ${f.goals_away} ${f.away_team.name} | ${f.event_date} UTC`;
            if (f.winner == team) {
                element.setAttribute("class", "bg-green-600 text-white");
            } else if (f.winner == "draw") {
                element.setAttribute("class", "bg-gray-500 text-white");
            } else {
                element.setAttribute("class", "bg-red-600 text-white");
            }
        }
    }

    function spawnFixtures() {
        var afc_future_fixs = {{ afc_future | tojson | safe }};
        var spuds_future_fixs = {{ spuds_future | tojson | safe }};
        var afc_past_fixs = {{ afc_past | tojson | safe}};
        var spuds_past_fixs = {{ spuds_past | tojson | safe }};

        const afc_future_col = document.getElementById('afc_future_col');
        const spuds_future_col = document.getElementById('spuds_future_col');

        const afc_upcoming_table_body = document.getElementById('afc_upcoming_fix_body');
        for (var index in afc_future_fixs) {
            // console.log(index);
            f = afc_future_fixs[index];
            var new_tr = afc_upcoming_table_body.insertRow();
            getFixtureDecoration(f, "Arsenal", new_tr);
            // new_tr.setAttribute("class", "odd:bg-white even:bg-gray-200")
            var new_td = document.createElement("td");
            // new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            // new_td.setAttribute("class", "");
            new_tr.appendChild(new_td);
            afc_upcoming_table_body.appendChild(new_tr);
            // afc_future_col.appendChild(document.createElement('br'));
        }

        const afc_completed_table_body = document.getElementById('afc_completed_fix_body');
        for (var index in afc_past_fixs) {
            // if (index == (afc_past_fixs.length - 1)) {
            //     new_tr.setAttribute("class", "rounded-b-3xl");
            // }
            // console.log(index, (afc_past_fixs.length - 1));
            f = afc_past_fixs[index];
            var new_tr = afc_completed_table_body.insertRow();
            getFixtureDecoration(f, "Arsenal", new_tr);
            // new_tr.setAttribute("class", "odd:bg-white even:bg-gray-200")
            var new_td = document.createElement("td");
            // new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            // new_td.setAttribute("class", "");
            new_tr.appendChild(new_td);
            afc_completed_table_body.appendChild(new_tr);
            // afc_future_col.appendChild(document.createElement('br'));
        }

        const spuds_upcoming_table_body = document.getElementById('spuds_upcoming_fix_body');
        for (var index in spuds_future_fixs) {
            // console.log(index);
            f = spuds_future_fixs[index];
            var new_tr = spuds_upcoming_table_body.insertRow();
            getFixtureDecoration(f, "Arsenal", new_tr);
            // new_tr.setAttribute("class", "odd:bg-white even:bg-gray-200")
            var new_td = document.createElement("td");
            // new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            // new_td.setAttribute("class", "");
            new_tr.appendChild(new_td);
            spuds_upcoming_table_body.appendChild(new_tr);
            // spuds_future_col.appendChild(document.createElement('br'));
        }

        const spuds_completed_table_body = document.getElementById('spuds_completed_fix_body');
        for (var index in spuds_past_fixs) {
            // console.log(index);
            f = spuds_past_fixs[index];
            var new_tr = spuds_completed_table_body.insertRow();
            getFixtureDecoration(f, "Tottenham", new_tr);
            // new_tr.setAttribute("class", "odd:bg-white even:bg-gray-200")
            var new_td = document.createElement("td");
            // new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            // new_td.setAttribute("class", "");
            new_tr.appendChild(new_td);
            spuds_completed_table_body.appendChild(new_tr);
            // spuds_future_col.appendChild(document.createElement('br'));
        }









        // const afc_past_col = document.getElementById('afc_past_col');
        // const spuds_past_col = document.getElementById('spuds_past_col');

        // var afc_past_fixs = {{ afc_past | tojson | safe}};
        // var spuds_past_fixs = {{ spuds_past | tojson | safe }};

        // // var afc_future_fixs = {{ afc_future | tojson | safe }};
        // // var spuds_future_fixs = {{ spuds_future | tojson | safe }};

        // for (var index in afc_past_fixs) {
        //     f = afc_past_fixs[index];
        //     var new_p = document.createElement("p");
        //     getFixtureDecoration(f, "Arsenal", new_p);
        //     afc_past_col.appendChild(new_p);
        //     afc_past_col.appendChild(document.createElement('br'));
        // }

        // for (var index in spuds_past_fixs) {
        //     f = spuds_past_fixs[index];
        //     var new_p = document.createElement("p");
        //     getFixtureDecoration(f, "Tottenham", new_p);
        //     spuds_past_col.appendChild(new_p);
        //     spuds_past_col.appendChild(document.createElement('br'));
        // }

        // // var new_afc_table = document.createElement("table");
        // // new_afc_table.setAttribute("align", "center");
        // // new_afc_table.setAttribute("class", "table-auto");
        
        // // new_afc_table_upcoming_head = document.createElement("thead");
        // // new_afc_table_upcoming_label = new_afc_table_upcoming_head.insertRow();
        // // new_afc_table_upcoming_label_th = document.createElement("th");
        // // new_afc_table_upcoming_label_th.innerHTML = "upcoming fixtures";
        // // new_afc_table_upcoming_label.appendChild(new_afc_table_upcoming_label_th);
        // // new_afc_table.appendChild(new_afc_table_upcoming_head);

        // // new_afc_table_body = document.createElement("tbody");
        // // new_afc_table.appendChild(new_afc_table_body);
        // // afc_future_col.appendChild(new_afc_table);

        // // new_afc_table_completed_head = document.createElement("thead");
        // // new_afc_table_completed_label = new_afc_table_completed_head.insertRow();
        // // new_afc_table_completed_label_th = document.createElement("th");
        // // new_afc_table_completed_label_th.innerHTML = "completed fixtures";
        // // new_afc_table_completed_label.appendChild(new_afc_table_completed_label_th);
        // // new_afc_table.appendChild(new_afc_table_completed_head);

        // // for (var index in afc_past_fixs) {
        // //     f = afc_past_fixs[index];
        // //     var new_tr = new_afc_table_body.insertRow();
        // //     getFixtureDecoration(f, "Arsenal", new_tr);
        // //     var new_td = document.createElement("td");
        // //     new_tr.appendChild(new_td);
        // //     new_afc_table_body.appendChild(new_tr);
        // // }


        
        
        // var new_spuds_table = document.createElement("table");
        // new_spuds_table.setAttribute("align", "center");
        // var new_spuds_table_body = document.createElement("tbody");
        // // var new_blank_tr = new_spuds_table_body.insertRow(); // uncomment for alternating striped tables // bootstrap only
        // new_spuds_table.appendChild(new_spuds_table_body);
        // spuds_future_col.appendChild(new_spuds_table);
        // for (var index in spuds_future_fixs) {
        //     f = spuds_future_fixs[index];
        //     var new_tr = new_spuds_table_body.insertRow();
        //     new_tr.setAttribute("class", "odd:bg-white even:bg-gray-200")
        //     var new_td = document.createElement("td");
        //     new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
        //     // new_td.setAttribute("style", "color: #FFF"); // white table
        //     new_tr.appendChild(new_td);
        //     new_spuds_table_body.appendChild(new_tr);
        //     // afc_future_col.appendChild(document.createElement('br'));
        // }
    }

</script>

<!-- <script src="static/darkmode.js"></script> -->

<!-- experimental confetti nonsense -->
<!-- <script src="static/confetti.js"></script> -->

<!-- jack wilshere mode -->
<script src="static/thankyou.js"></script>

{% endblock %}