{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}

<body style="background-color: #063672; color: #FFF;">
    <br>
    <br>
    <h1 class="text-center" style="margin-top: 20px; margin-bottom: 50px;">when is saint totteringham's day?</h1>
    <div class="container text-center">
        <div class="row">
            <div class="col" style="margin-bottom: 30px;" id="is_totts_col">
            </div>
        </div>
        <!-- <br> -->
        <!-- <br> -->
        <div class="row">
            <h3 class="text-center">earliest possible date</h3>
            <div class="col" style="margin-bottom: 20px;" id="earliest_col">
            </div>
        </div>
        <br>
        <br>
        <div class="row" style="background-color: #FFF; color: #000">
            <h3 class="text-center">remaining North London Derbies</h3>
            <div class="col" style="margin-bottom: 30px;" id="nlds_col">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <h3 class="text-center">maximum possible points remaining</h3>
            <div class="col" style="margin-top: 20px;" id="afc_remaining_col">
                <h6>Arsenal</h6>
            </div>
            <div class="col" style="margin-top: 20px;" id="spuds_remaining_col">
                <h6>Tottenham</h6>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <h3 class="text-center">points per game</h3>
            <div class="col" style="margin-top: 20px;" id="afc_ppg_col">
                <h6>Arsenal</h6>
            </div>
            <div class="col" style="margin-top: 20px;" id="spuds_ppg_col">
                <h6>Tottenham</h6>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <h3 class="text-center">upcoming fixtures</h3>
            <div class="col" style="margin-top: 20px;" id="afc_future_col">
                <h6>Arsenal</h6>
            </div>
            <div class="col" style="margin-top: 20px;" id="spuds_future_col">
                <h6>Tottenham</h6>
            </div>
        </div>
        <br>
        <br>
        <div class="row" style="margin-top: 50px;">
            <h3 class="text-center">completed fixtures</h3>
            <div class="col" style="margin-top: 20px;" id="afc_past_col">
                <h6>Arsenal</h6>
            </div>
            <div class="col" style="margin-top: 20px;" id="spuds_past_col">
                <h6>Tottenham</h6>
            </div>
        </div>
    </div>
</body>


<script>
    window.onload = spawnFixtures(); remainingNLDs(); remainingPoints(); ppg(); earliest(); //isTotts();

    function remainingPoints() {
        const afc_remaining = {{ afc_remaining_points }};
        const spuds_remaining = {{ spuds_remaining_points }};

        const afc_future_fix = {{ afc_future | tojson | safe }};
        const afc_future_fix_len = afc_future_fix.length;
        const spuds_future_fix = {{ spuds_future | tojson | safe }};
        const spuds_future_fix_len = spuds_future_fix.length;

        const afc_remaining_col = document.getElementById('afc_remaining_col');
        const spuds_remaining_col = document.getElementById('spuds_remaining_col');

        var afc_points_num = document.createElement("h2");
        var spuds_points_num = document.createElement("h2");
        afc_points_num.innerHTML = afc_remaining;
        spuds_points_num.innerHTML = spuds_remaining;

        var afc_future_fix_num = document.createElement("h5");
        var spuds_future_fix_num = document.createElement("h5");
        afc_future_fix_num.innerHTML = `${afc_future_fix_len} matches remaining`;
        spuds_future_fix_num.innerHTML = `${spuds_future_fix_len} matches remaining`;

        afc_remaining_col.appendChild(afc_points_num);
        spuds_remaining_col.appendChild(spuds_points_num);

        afc_remaining_col.appendChild(afc_future_fix_num);
        spuds_remaining_col.appendChild(spuds_future_fix_num);
    }

    function ppg() {
        const afc_ppg = {{ afc_ppg }};
        const spuds_ppg = {{ spuds_ppg }};
        const afc_ppg_col = document.getElementById('afc_ppg_col');
        const spuds_ppg_col = document.getElementById('spuds_ppg_col');
        var afc_ppg_num = document.createElement("h2");
        var spuds_ppg_num = document.createElement("h2");

        afc_ppg_num.innerHTML = Math.round(afc_ppg * 100) / 100;
        spuds_ppg_num.innerHTML = Math.round(spuds_ppg * 100) / 100;

        afc_ppg_col.appendChild(afc_ppg_num)
        spuds_ppg_col.appendChild(spuds_ppg_num)
    }

    function earliest() {
        var earliest_date = "{{ earliest_date }}";
        const earliest_col = document.getElementById('earliest_col');
        var earliest_h2 = document.createElement("h2");
        earliest_h2.innerHTML = earliest_date;
        earliest_col.appendChild(earliest_h2);
    }

    function isTotts() {
        var is_totts = "{{ is_totts }}";
        console.log*typeof(is_totts)
        if (isTotts === true) {
            is_totts_str = "YES!"
            } else {
            is_totts_str = "NO"
        }
        const is_totts_col = document.getElementById('is_totts_col');
        var is_totts_h1 = document.createElement("h1");
        is_totts_h1.innerHTML = is_totts_str;
        is_totts_col.appendChild(is_totts_h1);
    }

    function remainingNLDs() {
        const nld_matches = {{ nlds }};
        const nlds_col = document.getElementById('nlds_col');
        var nlds_h1 = document.createElement("h1");
        if (nld_matches == 2) {
            nlds_h1.innerHTML = 0
        } else if (nld_matches == 1) {
            nlds_h1.innerHTML = 1
        } else {
            nlds_h1.innerHTML = 2
        }
        nlds_col.appendChild(nlds_h1)
    }

    function getFixtureDecoration(fixtures, team, element) {
        if (['PST', 'CANC'].includes(f.status_short)) {
            element.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.status_short}`;
            element.setAttribute("class", "badge bg-warning rounded-pill text-dark");
        } else {
            element.innerHTML = `${f.home_team.name} ${f.goals_home} - ${f.goals_away} ${f.away_team.name} | ${f.event_date} UTC`;
            if (f.winner == team) {
                element.setAttribute("class", "badge text-bg-success rounded-pill");
                // element.style.backgroundColor = "palegreen";
            } else if (f.winner == "draw") {
                element.setAttribute("class", "badge text-bg-secondary rounded-pill");
            } else {
                element.setAttribute("class", "badge text-bg-danger rounded-pill");
            }
        }
    }

    function spawnFixtures() {
        const afc_future_col = document.getElementById('afc_future_col');
        const spuds_future_col = document.getElementById('spuds_future_col');

        const afc_past_col = document.getElementById('afc_past_col');
        const spuds_past_col = document.getElementById('spuds_past_col');

        var afc_past_fixs = {{ afc_past| tojson | safe}};
        var spuds_past_fixs = {{ spuds_past| tojson | safe }};

        var afc_future_fixs = {{ afc_future| tojson | safe }};
        var spuds_future_fixs = {{ spuds_future| tojson | safe }};

        // console.log(afc_past_fixs);
        for (var index in afc_past_fixs) {
            f = afc_past_fixs[index];
            var new_p = document.createElement("p");
            getFixtureDecoration(f, "Arsenal", new_p);
            afc_past_col.appendChild(new_p);
            afc_past_col.appendChild(document.createElement('br'));
        }

        for (var index in spuds_past_fixs) {
            f = spuds_past_fixs[index];
            var new_p = document.createElement("p");
            getFixtureDecoration(f, "Tottenham", new_p);
            spuds_past_col.appendChild(new_p);
            spuds_past_col.appendChild(document.createElement('br'));
        }


        var new_afc_table = document.createElement("table");
        new_afc_table.setAttribute("class", "table table-striped");
        new_afc_table_body = document.createElement("tbody");
        new_afc_table.appendChild(new_afc_table_body);
        afc_future_col.appendChild(new_afc_table);
        for (var index in afc_future_fixs) {
            f = afc_future_fixs[index];
            var new_tr = new_afc_table_body.insertRow();
            var new_td = document.createElement("td");
            new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            new_td.setAttribute("style", "color: #FFF"); // white table
            new_tr.appendChild(new_td);
            new_afc_table_body.appendChild(new_tr);
        }


        var new_spuds_table = document.createElement("table");
        new_spuds_table.setAttribute("class", "table table-striped");
        var new_spuds_table_body = document.createElement("tbody");
        // var new_blank_tr = new_spuds_table_body.insertRow(); // uncomment for alternating striped tables
        new_spuds_table.appendChild(new_spuds_table_body);
        spuds_future_col.appendChild(new_spuds_table);
        for (var index in spuds_future_fixs) {
            f = spuds_future_fixs[index];
            var new_tr = new_spuds_table_body.insertRow();
            var new_td = document.createElement("td");
            new_td.innerHTML = `${f.home_team.name} v. ${f.away_team.name} | ${f.event_date} UTC`;
            new_td.setAttribute("style", "color: #FFF"); // white table
            new_tr.appendChild(new_td);
            new_spuds_table_body.appendChild(new_tr);
            // afc_future_col.appendChild(document.createElement('br'));
        }
    }
</script>

{% endblock %}